:root {
	--main-color: #142C46;
	--accent-color: #8D7050;
	--footer-color: #403E3F;
}

* {
	margin: 0;
	padding: 0;
}


body {
	margin: 0 auto;
}

a {
	text-decoration: none;
}

header {
	top: 0;
	width: 100%;
	display: grid;
	grid-template-rows: 45px 116px;
}

.top {
	background-color: var(--main-color);
	border-bottom: 5.5px solid var(--accent-color);
}

.top ul {
	display: flex;
	width: 1000px;
	margin: 0 auto;
	justify-content: flex-end;
}

.top ul li {
	list-style: none;
	border-left: 1px solid white;
	padding: 0px 20px 0px 20px;
	margin-top: 8px;
}

.top ul li:first-child {
	border-left: none;
}

.top ul li a {
	font-family: "한국외대체 B";
	font-size: 18px;
	color: white;
}

.logo {
	display: grid;
	grid-template-columns: 100px 270px;
    grid-template-rows: 60px 40px;
	font-family: "한국외대체 B";
	padding-top: 11px;
	border-bottom: 1.2px solid #949293;
	justify-content: center;
}

#logo1 {
	grid-row-start: 1;
	grid-row-end: 3;
}

#logo1 img {
	width: 95px;
	height: 95px;
}

#logo2 {
	font-size: 42pt;
}

#logo2 #hufs {
	color: var(--main-color)
}

#logo2 #cus {
	color: var(--accent-color)
}

#logo3 {
	font-size: 15pt;
	color: var(--main-color);
}

#logo3 a {
	color: inherit;
}

.menu ul {
	display: flex;
	justify-content: center;
	border-bottom: 1.2px solid #949293;
}

.menu ul li {
	list-style: none;
	border-left: 1px solid #949293;
	padding: 0px 40px 0px 40px;
	margin: 8px 0px 8px 0px;
}

.menu ul li:first-child {
	border-left: none;
}

.menu ul li a {
	font-family: "한국외대체 B";
	font-size: 20px;
	color: var(--footer-color);
}